.FeedbackCard{
    background-color: var(--color-white);
    padding: 5em 0px 5em 0px;
    position: relative;
}
.heading{
    font-size: 2.8rem;
    color: var(--blue-color);
    font-weight: 600;
    text-align: center;
}
.heading span{
    color: var(--hover-color);
}

.feedBackContaine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-top: 5em;
}

.feedBackContaine::before{
    content: '';
    width: 13em;
    height: 12em;
    background-color: transparent;
    border: 24px solid var(--blue-color);
    opacity: 0.7;
    border-radius: 50%;
    position: absolute;
    left: -3em;
    top: 10px;
}
