.Footer {
  background-color: var(--background-color);
  padding-top: 5em;
}
.Footer .logoContainer {
  width: 300px;
  margin-inline: auto;
}
.Footer .logoContainer image {
  width: 100%;
  object-fit: cover;
}
.copyConatiner {
  border-top: 1px solid #ddd;
}
.copyConatiner,
.copy,
.socialMediaContainer {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 1px 2em 1em 2em;
}
.Footer .text {
  width: 541px;
  margin-top: 3em;
  margin-bottom: 10em;
  opacity: 0.7;
  margin-inline: auto;
  text-align: center;
  opacity: 0.9;
}
.Footer .navList {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em 0px 2em 0px;
}
.Footer .navList li {
  font-size: 1.2rem;
  color: var(--blue-color);
  cursor: pointer;
}
