.sidebar {
    background-color: var(--blue-color);
    /* width: 16.25rem;  */
    width: 260px;
    height: 100vh;
    position: fixed;
    border-radius: 0 3.125rem 3.125rem 0; /* 50px */
    top: 0;
    left: 0;
    bottom: unset;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 4.4375rem; /* 71px */
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.logo {
    background-color: var(--blue-color);
    position: fixed;
    border-top-right-radius: 0.9375rem; /* 15px */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.125rem; /* 50px */
    z-index: 2;
}
.logo img {
    width: 12.5rem;      /* 200px */
    height: 2.4375rem;   /* 39px */
    margin-top: 4.4375rem;   /* 71px */
    margin-left: 1.9375rem;  /* 31px */
    object-fit: contain;
    cursor: pointer;
}
.menu ul {
    width: 12.5rem;      /* 200px */
    height: 38.75rem;    /* 620px */
    margin-top: 11.4375rem;  /* 183px */
    margin-left: 1.875rem;   /* 30px */
}
.menu ul li {
    cursor: pointer;
    margin-top: 3.125rem;    /* 50px */
}
.menu ul li button {
    color: var(--white-color);
    display: flex;
    align-items: center;
    opacity: 0.7;
    font-size: 1.5625rem;    /* 25px */
    transition: all 0.3s ease-in-out;
}
.menu ul li button .icons {
    font-size: 3.125rem;     /* 50px */
    object-fit: contain;
    margin-right: 1.25rem;   /* 20px */
}
.menu ul li button.active {
  opacity: 1;
}
.menu ul li button.active .icons {
  opacity: 1;
}