.Team {
  padding: 5em 4em 5em 4em;
  z-index: 100;
}
.Team h1 {
  font-size: 67px;
  color: var(--hover-color);
  font-weight: 600;
}
.Team h1 span {
  color: var(--blue-color);
}
.teamCard {
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 152px;
}
