.UpdatePassword{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.passwordContainer{
      background-color: #ddd;
      padding: 2px 10px;
      width: 100%;
      border-radius: 10px;
}
.UpdatePassword .pass{
    background-color: transparent;
}
.PassIcon{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #868686;
}
.icon:hover{
    transform: scale(1.05);
}