.Login {
  position: relative;
  padding-bottom: 3em;
}
.backBtn {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: 64px;
  top: 87px;
  color: var(--white-color);
  font-size: 65px;
  border: 2px solid var(--white-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.decoration {
  position: absolute;
  left: -35px;
  bottom: unset;
}
.logoContainer {
  width: 238px;
  height: 47px;
  position: absolute;
  top: 18px;
  left: 64px;
}
.logoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Container::before {
  content: "";
  position: absolute;
  min-width: 1791px;
  width: 100%;
  height: calc(929px * 2);
  background-color: var(--blue-color);
  border-radius: 50%;
  top: -929px;
  z-index: -1;
}
.Container {
  width: 1405px;
  min-height: 1127px;
  background-color: var(--white-color);
  border: 1px solid #ddd;
  border-radius: 50px;
  margin-top: 87px;
  align-items: center;
  gap: 10px;
}
.Signup {
  text-align: center;
  font-weight: 600;
  line-height: 53px;
  margin-top: 22px;
}
.selectContainer {
  width: 100%;
  border-bottom: 2px solid #ddd;
  gap: 173px;
  margin-top: 66px;
  padding-bottom: 8px;
}

.selectContainer button.active {
  color: var(--blue-color);
  font-weight: 600;
  padding: 0px 10px;
  border-bottom: 2px solid var(--blue-color);
}
.form {
  width: 995px;
  margin-top: 36px;
  padding-bottom: 3em;
}
form {
  width: 100%;
  gap: 25px;
}
form .name,
form .password,
form .nhis,
form .phone,
form .email,
form .doc {
  align-items: baseline;
}
form label {
  font-weight: 400;
}
form div {
  display: flex;
  align-items: center;
  gap: 25px;
}
.emailContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.DocInput,
.emailContainer div {
  width: 100%;
}

.headingText {
  text-align: center;
}
.docLabel {
  cursor: pointer;
  gap: 15px;
}
.uploadIcon {
  color: var(--blue-color);
  font-size: 50px;
}
.docLabel,
form div input:not(input[type="checkbox"]) {
  width: 100%;
  height: 75px;
  border-radius: 24px;
  background-color: #edededcc;
  padding: 24px 60px;
  opacity: 0.6;
}
.docLabel {
  opacity: 1;
}
.docLabel span {
  opacity: 0.6;
}
.check input {
  width: 30px;
  height: 30px;
  accent-color: var(--blue-color);
}
.SignupBtn {
  height: 80px;
  width: 459px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 30px;
  margin-inline: auto;
  margin-top: 64px;
}

.loginWith {
  gap: 40px;
  margin-top: 35px;
}
.loginWith .Google,
.loginWith .Facebook {
  cursor: pointer;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.alreadyHaveAccount {
  text-align: center;
  font-size: 1rem;
  margin-top: 30px;
}
.otp {
  gap: 40px;
  margin-top: 63px;
}
.otp input {
  min-width: 150px;
  min-height: 150px;
  font-size: 40px;
  margin-bottom: 115px;
}
.alreadyHaveAccount {
  font-size: 25px;
}
.alreadyHaveAccount span {
  color: #f00;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .Container {
    width: 90%;
    padding: 2px 1em;
    margin-top: 6em;
  }
  .logoContainer {
    left: 1em;
  }
  .emailContainer {
    flex-direction: column;
  }

  .selectContainer {
    flex-direction: column;
    align-items: center;
  }
  .selectContainer button {
    margin-bottom: 10px;
  }
  form {
    width: 100%;
  }
  .SignupBtn {
    width: 100%;
  }
}
