.bannerContainer {
  position: relative;
  width: calc(100% - 81px);
  margin-inline: auto;
  height: 774px;
  display: flex;
  gap: 200px;
  flex-wrap: wrap;
  margin-top: 52px;
}
.bannerContainer::before {
  content: "";
  width: calc(774px - 138px);
  height: calc(100% - 138px);
  position: absolute;
  border: 4em solid var(--blue-color);
  border-radius: 50%;
  opacity: 0.6;
  right: -139px;
  margin-top: 46px;
}
.bannerContainer::after {
  content: "";
  position: absolute;
  width: calc(632px * 2);
  height: 1166px;
  background-color: var(--color-white);
  border-radius: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  bottom: -583px;
  right: -206px;
  z-index: -2;
}
.heading {
  font-size: 90px;
  font-weight: 700;
  color: var(--blue-color);
  line-height: 104px;
  span {
    color: var(--hover-color);
  }
}
p.text {
  font-size: 16px;
  opacity: 0.8;
  margin-top: 35px;
  max-width: 650px;
  margin-bottom: 63px;
}
.imgContainer {
  width: 632px;
  height: 100%;
  z-index: 2;
}
.decorationImage {
  position: absolute;
  width: 550px;
  height: 526px;
  left: 700px;
  bottom: 57px;
  z-index: 3;
}
.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.btnConatiner {
  margin-top: 2em;
}
.btnConatiner button {
  background-color: var(--blue-color);
  color: var(--color-white);
  width: 10em;
  padding: 7px 10px;
  border-radius: 10px;
}
.ctaContainer {
  position: absolute;
  width: 979px;
  height: 157px;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  gap: 88px;
  box-shadow: 1px 1px 2px #ddd;
  bottom: 51px;
  z-index: 10;
}
.ctaContainer button {
  width: 242px;
  height: 67px;
  border: 1px solid var(--blue-color);
  padding: 19px 0px;
  text-align: center;
  border-radius: 10px;
  color: var(--blue-color);
}
.ctaContainer button.active {
  background-color: var(--blue-color);
  color: var(--color-white);
}
