.FeaturesCard{
    width: 12em;
    border-radius: 7px;
    border: 2px solid #fff;
    padding: 15px;
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #fff;
    box-shadow: 1px 1px 2px 0px #ddd;
}
.title{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--hover-color);
}
.text{
    font-size: 0.8rem;
    margin-top: -10px;
}
.title, .text{
    text-align: center;
}