.Cart {
  width: 100%;
  gap: 70px;
  padding: 0px 50px 0px 50px;
  /* flex-wrap: wrap; */
}
.orderSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 512px;
  height: 1061px;
  background-color: var(--blue-color);
  border-radius: 50px;
  padding: 50px;
  color: var(--white-color);
}
.cartList {
  margin-top: -250px;
}
.drugList {
  margin-top: 43px;
}
.cartTitle {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}
.cartTitle h3 {
  font-size: 25px;
  font-weight: 400;
}
.checkoutTitle {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}
.subtotal,
.delivery,
.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.subtotal {
  margin-top: 40px;
}
.subtotal,
.delivery {
  border-bottom: 1px solid #ddd;
  margin-top: 2em;
}
.subtotal h3,
.delivery h3,
.total h3 {
  font-size: 30px;
}
.bold {
  font-weight: 900;
}
.total {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 6em;
}
.checkout {
  width: 100%;
  background-color: var(--white-color);
  height: 89px;
  border-radius: 10px;
  font-size: 30px;
  color: var(--blue-color);
}
