.MainDashboard {
  width: 100vw;
  margin-top: 61px;
  padding: 0px 50px 2em 310px;
}
.nav {
  width: 100%;
  margin-inline: auto;
}
.heading {
  font-weight: 700;
}
.icon {
  color: var(--blue-color);
  cursor: pointer;
}
