.Dashboard{
    position: relative;
}

.nav{
    position: absolute;
    right: 2em;
    margin-top: 2em;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
}
.heading{
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0.8;
}
.notification{
    cursor: pointer;
}
.pages{
    position: absolute;
    left: 200px;
    margin-top: 4em;
    padding: 10px;
}