.updates {
  width: 100%;
}
.userProfile {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 3em;
  margin-top: 61px;
}
.imgCard {
  position: relative;
  width: 200px;
  height: 191px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.imgCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.imgCard .changeProfile {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  max-width: 3em;
  background-color: var(--blue-color);
  border-radius: 50%;
  color: var(--white-color);
}
.btnContainer {
  gap: 20px;
}
.btnContainer button {
  width: 224px;
  height: 69px;
  padding: 10px 20px 10px 20px;
  border: 1px solid var(--blue-color);
  border-radius: 10px;
}
.btnContainer button.uploadNew {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.Save {
  width: 224px;
  height: 69px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 10px;
  position: absolute;
  right: 49px;
}
