.CartList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 856px;
    margin-top: 20px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 171px;
    background-color: #A9A9A914;
    border-radius: 20px;
    box-shadow: 2px 1px 4px #868686;
}
.imgContainer img{
    width: 103px;
    height: 143px;
    object-fit: cover;
}
.title{
    font-size: 20px;
    font-weight: 700;
    width: 237px;
    color: #000000;
    margin-left: 20px;
    margin-left: -80px;
}
.controlAmount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.controlAmount .amount,
.controlAmount  .button{
    font-size: 25px;
    font-weight: 700;
}
.controlAmount  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border: 2px solid #000000;
    border-radius: 50%;
}
.controlAmount .amount{
    margin-top: -3px;
}
.priceContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.delete{
    font-size: 30px;
}
.price{
    font-size: 25px;
    font-weight: 900;
    margin-top: -5px;
}